config SHIELD_FRET_DONGLE
    def_bool $(shields_list_contains,fret_dongle)

config SHIELD_FRET_LEFT
    def_bool $(shields_list_contains,fret_left)

config SHIELD_FRET_RIGHT
    def_bool $(shields_list_contains,fret_right)